<nav class="navbar navbar-expand-lg site-header" aria-label="Primary navigation">
  <a class="navbar-brand brand" href="index.html#top" aria-label="CoFiRe-Network home">
    <span class="brand-mark" aria-hidden="true">C</span>
    <span class="brand-lockup">
      <span class="brand-text">CoFiRe-Network</span>
      <span class="brand-subtitle">Community Fish Reserves Network</span>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
    aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav ms-auto gap-1">
      <li class="nav-item"><a class="nav-link" href="index.html#home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="index.html#about">About Us</a></li>
      <li class="nav-item"><a class="nav-link" href="cofire-model.html">CoFiRe Model</a></li>
      <li class="nav-item"><a class="nav-link" href="cofire-network.html">CoFiRe Network</a></li>
      <li class="nav-item"><a class="nav-link" href="resources.html">Resources</a></li>
    </ul>
  </div>
</nav>
